@font-face {
    font-family: open-sans;
    src: url(./asset/OpenSans-VariableFont_wdth\,wght.ttf);
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
    flex-flow: column;
    margin-top: 80px;
    background-color: rgb(73, 73, 73);
}
.numberBox{
    height: 100px;
    width: 400px;
    border-bottom: solid 1px black;
    
}

.container{
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(5,100px);
    margin-left: 200px;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    border: none;
    transition: 0.6s;
    font-family: open-sans,Arial, Helvetica, sans-serif;
}

button:hover{
    cursor: pointer;
    background-color: rgb(197, 197, 197);
}

.result{
    font-size: 2.4em;
    position: absolute;
    right: 0;
    letter-spacing: 10px;
    color: black;
    font-family: open-sans,Arial, Helvetica, sans-serif;
}
.numberBox{
    position: relative;
    display: flex;
    align-items: center;
    background-color: rgb(241, 238, 59);
}

.body-container{
    width: 400px;
    height: 600px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}